a {
  text-decoration: none;
}

#app {
  color: white;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

#app_title {
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
  margin-top: 40px;
  letter-spacing: 3px;
}

body, html {
  background-color: green;
  margin: 0;
  padding: 0;
}

#solo_cup {
  height: 30%;
  width: 30%;
}

#teams_btn {
  background-color: #aa7070;
  border-radius: 16px;
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 40px;
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  text-decoration: none;
  width: 20%;
}

@media (max-width: 400px) {
  #solo_cup {
    height: 100%;
    width: 100%;
  }

  #teams_btn {
    width: 50%;
  }
}
