
#batter {
  text-align: center;
  margin-top: 30px;
}

#field {
  background-color: green;
}

#fieldContainer {
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 50%;
}

#field_status {
  display: flex;
  justify-content: center;
}

#hits {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

#info {
  text-align: center;
}

#info label {
  display: inline-block;
  margin: 10px 20px;
}

#miss {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}


#score {
  display: flex;
  margin: 40px auto;
  text-align: center;
  justify-content: center;
}

#score label {
  margin: 0 30px;
}

.shots {
  width: 15vw;
}

#strike {
  background-color: yellow;
  margin-right: 30px;
}

#strike, #out {
  border-radius: 16px;
  height: 8vh;
  width: 12vw;
}

#out {
  background-color: red;
  margin-left: 30px;
}

/********************************* Media Query ********************************/
@media (max-width: 400px) {
  #fieldContainer {
    width: 80%;
  }

  #strike, #out {
    width: 100px;
    height: 50px;
  }
}
